{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'brush/style.css' %}">
</head>
<body>
<div class="main">
    <div id="toolbar" style="margin-bottom: 20px;">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary active">
                <input type="radio" name="tile" id="base" value="base"> Base
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="tile" id="resource" value="resource"> Resource
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="tile" id="obstacle" value="obstacle" checked="checked"> Obstacle
            </label>
        </div>
        <div id="size-selector" class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary active">
                <input type="radio" name="size" id="small" value="small" checked="checked"> Small
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="size" id="medium" value="medium"> Medium
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="size" id="large" value="large"> Large
            </label>
        </div>
        <div id="style-selector" class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary active">
                <input type="radio" name="style" id="fair" value="fair" checked="checked"> Fair
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="style" id="fun" value="fun"> Fun
            </label>
        </div>
        <div id="rep-selector" class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary active">
                <input type="radio" name="rep" id="narrow" value="narrow" checked="checked"> Narrow
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="rep" id="turtle" value="turtle"> Turtle
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="rep" id="wide" value="wide"> Wide
            </label>
        </div>

        <button class="btn btn-primary" id="clean">Clean</button>
        <button class="btn btn-primary" id="show">Show</button>
        <button class="btn btn-success" id="suggestion">Suggestion</button>

        <div id="loading-spin" class="spinner-border text-primary" role="status" style="visibility: hidden; margin-left: 5px;">
            <span class="sr-only">Loading...</span>
        </div>

    </div>
    <div>
        <canvas width="450" height="450" id="canvas" style="display: inline;"></canvas>
        <canvas width="450" height="450" id="suggest1" style="display: inline;"></canvas>
        <canvas width="450" height="450" id="suggest2" style="display: inline;"></canvas>
    </div>
    <div>
        <p id="res"></p>
    </div>
</div>
<script src="https://cdn.bootcss.com/downloadjs/1.4.7/download.min.js"></script>
<script src="{% static 'brush/main.js' %}"></script>
<script>
    var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            // if not safe, set csrftoken
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    $("#suggestion").on('click', function () {
        var size = $("input[name='size']:checked").val();
        var style = $("input[name='style']:checked").val();
        var rep = $("input[name='rep']:checked").val();
        var tiles = a.showRes();
        var data = {"size": size, "style": style, "tiles": tiles, "rep": rep};
        $("#loading-spin").css("visibility", "visible");
        reset_suggestion(sugs, false, 0);
        $.ajax({
            type: "POST",
            url: "{% url 'brush:suggest' %}",
            data: data,
            dataType: "json",
            success: function (message) {
                $("#loading-spin").css("visibility", "hidden");
                for (let i = 0; i < sugs.length; i++) {
                    sugs[i].draw(message[i]);
                }
                {#alert("提交成功" + JSON.stringify(message));#}
            },
            error: function (message) {
                $("#loading-spin").css("visibility", "hidden");
                alert("Fail:" + JSON.stringify(message));
            }
        });
    });


</script>
</body>
</html>