{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'brush/style.css' %}">
</head>
<body>
<header>
    <div class="container">
        <div class="main row">
            <div class="col">
                <div id="toolbar" style="margin-bottom: 5px;">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary active">
                            <input type="radio" name="tile" id="base" value="base"> Base
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="tile" id="resource" value="resource"> Resource
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="tile" id="obstacle" value="obstacle" checked="checked"> Obstacle
                        </label>
                    </div>
                    <div id="size-selector" class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary active">
                            <input type="radio" name="size" id="small" value="small" checked="checked"> Small
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="size" id="medium" value="medium"> Medium
                        </label>
                        {#                    <label class="btn btn-secondary">#}
                        {#                        <input type="radio" name="size" id="large" value="large"> Large#}
                        {#                    </label>#}
                    </div>
                    <div id="style-selector" class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary active">
                            <input type="radio" name="style" id="fair" value="fair" checked="checked"> Fair
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="style" id="fun" value="fun"> Fun
                        </label>
                    </div>
                    <div id="rep-selector" class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary active">
                            <input type="radio" name="rep" id="narrow" value="narrow" checked="checked"> Narrow
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="rep" id="turtle" value="turtle"> Turtle
                        </label>
                        {#                    <label class="btn btn-secondary">#}
                        {#                        <input type="radio" name="rep" id="wide" value="wide"> Wide#}
                        {#                    </label>#}
                    </div>
                    <button class="btn btn-primary" id="clean">Clean</button>
                    <button class="btn btn-success" id="suggestion">Suggestion</button>
                    <div id="loading-spin" class="spinner-border text-primary" role="status"
                         style="visibility: hidden; margin-left: 5px;">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-6">
            <canvas height="380" width="380" id="canvas" style="display: inline;"></canvas>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-6">
                    <canvas height="190" width="190" id="suggest1" style="display: inline;"></canvas>
                </div>
                <div class="col-6">
                    <canvas height="190" width="190" id="suggest2" style="display: inline;"></canvas>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <canvas height="190" width="190" id="suggest3" style="display: inline;"></canvas>
                </div>
                <div class="col-6">
                    <canvas height="190" width="190" id="suggest4" style="display: inline;"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <span>Origin</span>
        </div>
        <div class="col">
            <label>base distance</label>
            <div class="progress">
                <div id="base_distance_origin" class="progress-bar" role="progressbar" style="width: 0%;"
                     aria-valuenow="0"
                     aria-valuemin="0"
                     aria-valuemax="100">0
                </div>
            </div>
        </div>
        <div class="col">
            <label>resource count</label>
            <div class="progress">
                <div id="resource_count_origin" class="progress-bar" role="progressbar" style="width: 0%;"
                     aria-valuenow="0"
                     aria-valuemin="0"
                     aria-valuemax="100">0
                </div>
            </div>
        </div>
        <div class="col">
            <label>resource distance</label>
            <div class="progress">
                <div id="resource_distance_origin" class="progress-bar" role="progressbar" style="width: 0%;"
                     aria-valuenow="0"
                     aria-valuemin="0"
                     aria-valuemax="100">0
                </div>
            </div>
        </div>
        <div class="col">
            <label>resource balance</label>
            <div class="progress">
                <div id="resource_balance_origin" class="progress-bar" role="progressbar" style="width: 0%;"
                     aria-valuenow="0"
                     aria-valuemin="0"
                     aria-valuemax="100">0
                </div>
            </div>
        </div>
        <div class="col">
            <label>obstacle</label>
            <div class="progress">
                <div id="obstacle_origin" class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0"
                     aria-valuemin="0"
                     aria-valuemax="100">0
                </div>
            </div>
        </div>
        <div class="col">
            <label>area control</label>
            <div class="progress">
                <div id="area_control_origin" class="progress-bar" role="progressbar" style="width: 0%;"
                     aria-valuenow="0"
                     aria-valuemin="0"
                     aria-valuemax="100">0
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <span>Average</span>
        </div>
        <div class="col">
            <label>base distance</label>
            <div class="progress">
                <div id="base_distance_1" class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0"
                     aria-valuemin="0"
                     aria-valuemax="100">0
                </div>
            </div>
        </div>
        <div class="col">
            <label>resource count</label>
            <div class="progress">
                <div id="resource_count_1" class="progress-bar" role="progressbar" style="width: 0%;"
                     aria-valuenow="0"
                     aria-valuemin="0"
                     aria-valuemax="100">0
                </div>
            </div>
        </div>
        <div class="col">
            <label>resource distance</label>
            <div class="progress">
                <div id="resource_distance_1" class="progress-bar" role="progressbar" style="width: 0%;"
                     aria-valuenow="0"
                     aria-valuemin="0"
                     aria-valuemax="100">0
                </div>
            </div>
        </div>
        <div class="col">
            <label>resource balance</label>
            <div class="progress">
                <div id="resource_balance_1" class="progress-bar" role="progressbar" style="width: 0%;"
                     aria-valuenow="0"
                     aria-valuemin="0"
                     aria-valuemax="100">0
                </div>
            </div>
        </div>
        <div class="col">
            <label>obstacle</label>
            <div class="progress">
                <div id="obstacle_1" class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0"
                     aria-valuemin="0"
                     aria-valuemax="100">0
                </div>
            </div>
        </div>
        <div class="col">
            <label>area control</label>
            <div class="progress">
                <div id="area_control_1" class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0"
                     aria-valuemin="0"
                     aria-valuemax="100">0
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <span>Area Control Oriented</span>
        </div>
        <div class="col">
            <label>base distance</label>
            <div class="progress">
                <div id="base_distance_2" class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0"
                     aria-valuemin="0"
                     aria-valuemax="100">0
                </div>
            </div>
        </div>
        <div class="col">
            <label>resource count</label>
            <div class="progress">
                <div id="resource_count_2" class="progress-bar" role="progressbar" style="width: 0%;"
                     aria-valuenow="0"
                     aria-valuemin="0"
                     aria-valuemax="100">0
                </div>
            </div>
        </div>
        <div class="col">
            <label>resource distance</label>
            <div class="progress">
                <div id="resource_distance_2" class="progress-bar" role="progressbar" style="width: 0%;"
                     aria-valuenow="0"
                     aria-valuemin="0"
                     aria-valuemax="100">0
                </div>
            </div>
        </div>
        <div class="col">
            <label>resource balance</label>
            <div class="progress">
                <div id="resource_balance_2" class="progress-bar" role="progressbar" style="width: 0%;"
                     aria-valuenow="0"
                     aria-valuemin="0"
                     aria-valuemax="100">0
                </div>
            </div>
        </div>
        <div class="col">
            <label>obstacle</label>
            <div class="progress">
                <div id="obstacle_2" class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0"
                     aria-valuemin="0"
                     aria-valuemax="100">0
                </div>
            </div>
        </div>
        <div class="col">
            <label>area control</label>
            <div class="progress">
                <div id="area_control_2" class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0"
                     aria-valuemin="0"
                     aria-valuemax="100">0
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <span>Base Oriented</span>
        </div>
        <div class="col">
            <label>base distance</label>
            <div class="progress">
                <div id="base_distance_3" class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0"
                     aria-valuemin="0"
                     aria-valuemax="100">0
                </div>
            </div>
        </div>
        <div class="col">
            <label>resource count</label>
            <div class="progress">
                <div id="resource_count_3" class="progress-bar" role="progressbar" style="width: 0%;"
                     aria-valuenow="0"
                     aria-valuemin="0"
                     aria-valuemax="100">0
                </div>
            </div>
        </div>
        <div class="col">
            <label>resource distance</label>
            <div class="progress">
                <div id="resource_distance_3" class="progress-bar" role="progressbar" style="width: 0%;"
                     aria-valuenow="0"
                     aria-valuemin="0"
                     aria-valuemax="100">0
                </div>
            </div>
        </div>
        <div class="col">
            <label>resource balance</label>
            <div class="progress">
                <div id="resource_balance_3" class="progress-bar" role="progressbar" style="width: 0%;"
                     aria-valuenow="0"
                     aria-valuemin="0"
                     aria-valuemax="100">0
                </div>
            </div>
        </div>
        <div class="col">
            <label>obstacle</label>
            <div class="progress">
                <div id="obstacle_3" class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0"
                     aria-valuemin="0"
                     aria-valuemax="100">0
                </div>
            </div>
        </div>
        <div class="col">
            <label>area control</label>
            <div class="progress">
                <div id="area_control_3" class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0"
                     aria-valuemin="0"
                     aria-valuemax="100">0
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <span>Resource Oriented</span>
        </div>
        <div class="col">
            <label>base distance</label>
            <div class="progress">
                <div id="base_distance_4" class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0"
                     aria-valuemin="0"
                     aria-valuemax="100">0
                </div>
            </div>
        </div>
        <div class="col">
            <label>resource count</label>
            <div class="progress">
                <div id="resource_count_4" class="progress-bar" role="progressbar" style="width: 0%;"
                     aria-valuenow="0"
                     aria-valuemin="0"
                     aria-valuemax="100">0
                </div>
            </div>
        </div>
        <div class="col">
            <label>resource distance</label>
            <div class="progress">
                <div id="resource_distance_4" class="progress-bar" role="progressbar" style="width: 0%;"
                     aria-valuenow="0"
                     aria-valuemin="0"
                     aria-valuemax="100">0
                </div>
            </div>
        </div>
        <div class="col">
            <label>resource balance</label>
            <div class="progress">
                <div id="resource_balance_4" class="progress-bar" role="progressbar" style="width: 0%;"
                     aria-valuenow="0"
                     aria-valuemin="0"
                     aria-valuemax="100">0
                </div>
            </div>
        </div>
        <div class="col">
            <label>obstacle</label>
            <div class="progress">
                <div id="obstacle_4" class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0"
                     aria-valuemin="0"
                     aria-valuemax="100">0
                </div>
            </div>
        </div>
        <div class="col">
            <label>area control</label>
            <div class="progress">
                <div id="area_control_4" class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0"
                     aria-valuemin="0"
                     aria-valuemax="100">0
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
</footer>
</body>
<script src="https://cdn.bootcss.com/downloadjs/1.4.7/download.min.js"></script>
<script src="{% static 'brush/main.js' %}"></script>
<script>
    var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            // if not safe, set csrftoken
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    $("#suggestion").on('click', function () {
        var size = $("input[name='size']:checked").val();
        var style = $("input[name='style']:checked").val();
        var rep = $("input[name='rep']:checked").val();
        var tiles = a.showRes();
        var data = {"size": size, "style": style, "tiles": tiles, "rep": rep};
        $("#loading-spin").css("visibility", "visible");
        reset_suggestion(sugs, false, 0);
        $.ajax({
            type: "POST",
            url: "{% url 'brush:suggest' %}",
            data: data,
            dataType: "json",
            success: function (result) {
                result = JSON.parse(result);
                $("#loading-spin").css("visibility", "hidden");
                if (result === false) {
                    alert("Input invalid or timeout.")
                }
                reset_info('origin', result['origin'], result['range']);
                for (let i = 0; i < sugs.length; i++) {
                    sugs[i].draw(result[i]['map']);
                    reset_info(i + 1, result[i], result["range"]);
                }
            },
            error: function (message) {
                $("#loading-spin").css("visibility", "hidden");
                alert("Fail:" + JSON.stringify(message));
            }
        });
    });

    function reset_info(index, result, range) {
        for (var key in range) {
            let tmp = $("#" + key + "_" + index);
            const eval = get_range_evaluation(result[key], range[key]);
            tmp.html(eval + "(" + result[key] + ")");
            tmp.css("width", eval);
        }
        {#var base_distance = $("#base_distance_" + index);#}
        {#var resource_count = $("#resource_count_" + index);#}
        {#var resource_distance = $("#resource_distance_" + index);#}
        {#var resource_balance = $("#resource_balance_" + index);#}
        {#var obstalce = $("#obstacle_" + index);#}
        {#var area_control = $("#area_control_" + index);#}
        {#const bd_eval = get_range_evaluation(result["base_distance"], range["base_distance"]);#}
        {#base_distance.html(bd_eval);#}
        {#base_distance.css("width", bd_eval + "%");#}
        {#const rc_eval = get_range_evaluation(result["resource_count"], range["resource_count"]);#}
        {#resource_count.html(rc_eval);#}
        {#resource_count.css("width", rc_eval + "%");#}
        {#const rd_eval = get_range_evaluation(result["resource_distance"], range["resource_distance"]);#}
        {#resource_distance.html(rd_eval);#}
        {#resource_distance.css("width", rd_eval + "%");#}
        {#const rb_eval = get_range_evaluation(result["resource_balance"], range["resource_balance"]);#}
        {#resource_balance.html(rb_eval);#}
        {#resource_balance.css("width", rb_eval + "%");#}
        {#const ob_eval = get_range_evaluation(result["obstacle"], range["obstacle"]);#}
        {#obstalce.html(ob_eval);#}
        {#obstalce.css("width", ob_eval + "%");#}
        {#const ac_eval = get_range_evaluation(result["area_control"], range["area_control"]);#}
        {#area_control.html(ac_eval);#}
        {#area_control.css("width", ac_eval + "%");#}
    }

    function get_range_evaluation(val, range) {
        const min_possible = range[0];
        const max_possible = range[1];
        const min_optimal = range[2];
        const max_optimal = range[3];
        const left = min_optimal - min_possible;
        const right = max_possible - max_optimal;
        const distance = left > right ? left : right;
        let evaluation = 0;
        if (val <= max_optimal && val >= min_optimal)
            evaluation = 100;
        else if (val < min_optimal)
            evaluation = (distance - (min_optimal - val)) / distance * 100;
        else if (val > max_optimal)
            evaluation = (distance - (val - max_optimal)) / distance * 100;

        return evaluation.toFixed(1).toString() + "%"
    }

</script>
</body>
</html>